

/* Main container box for entire page has two child blocks -yellow top block - orange bottom box */
#container {
border: 1px solid black;
display: flex-column;
background-color: lightgoldenrodyellow;
width: 98%;
padding: 1%;
height: 100%
width: 100%;
}

/* main image block - yellow box*/
#topBox{
border: 2px solid yellow;
display: flex;
width: 98%;
height: 80%;    
}

/* Product image box */
.productImage {
    border: 2px solid blue;
    display: flex;
    height:98%;
    width: 40%;
    align-items: center;
    margin: auto;
    }

/*product image size within image box */    
.picSize {
    height: 98%;
    width: 98%;
}

/* product info box has product info and buttons for "goto review" and "add to cart"*/
.productInfo {
    border: 2px solid green;
    display: flex-column;
    height:98%;
    width: 58%;
}

/* product name, brand, and price */
.productPrice {
    border: 2px solid grey;
    margin-left: 1%;
    text-align: center;
    }

.buttonsBox{
    border: 2px solid red;
    height: 98%;
    width: 98%;
    margin: 1%;
    display: flex;
    align-content: center;
    justify-content: center;

}

#reviewsButton {
    border: 2px solid salmon;
    box-shadow: 2px;
    height: auto;
    width: auto;
    margin-right: 4%;
    
}

#cartButton {
    border: 2px solid purple;
    box-shadow: 2px;
   
}
/* Bottom of page orange comments box */
.commentsBox{
border: 2px solid orange;
width: 98%;
height: 20%; 

}

