/* Main container box for entire page has two child blocks -yellow top block - orange bottom box */

/* GLOBAL RULES */
#container {
/* border: 1px solid black; */
display: flex-column;
background-color: ;
width: 98%;
padding: 1%;
height: 100%;
width: 100%;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    border: 0px;
    background-color: grey

}

/* main image block - yellow box*/
#topBox { 
/* border: 2px solid yellow; */
display: flex;
width: 98%;
height: 80%;    
}

.picSize {
    height: 98%;
    width: 98%;
}

/* Product image box */
.productImage {
    /* border: 2px solid blue; */
    display: flex;
    height:98%;
    width: 40%;
    align-items: center;
    margin: auto;
    background-color: ivory;
    transition: transform .2s; /* Animation */
    }

/*product image size within image box */    
  .productImage:hover {
    transform-origin: 0% 40%;  
    transform: scale(2.5); /* (250% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/* product info box has product info and buttons for "goto review" and "add to cart"*/
.productInfo {
border: 2px solid black;
    display: flex-column;
    height:98%;
    width: 58%;
    background-color: azure;
}

/* product name, brand, and price */
.productPrice {
    /* border: 2px solid grey; */
    margin-left: 2%;
    text-align: left;
    }

/* Red box to hold two boxes for buttons */    
.buttonsBox {
    /* border: 2px solid red; */
    height: 98%;
    width: 98%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 2%;

}

/* 1st box inside red box for button 1 for getReviews*/
.reviewsButton {
    /* border: 2px solid salmon; */
    box-shadow: 2px;
    height: auto;
    width: auto;
    margin-right: 4%;
}
/* 2nd box inside red box to hold button 2 for getCart*/
.cartButton {
    /* border: 2px solid purple; */
    box-shadow: 2px;
}
/* Bottom of page orange comments box */
.commentsBox {
border: 2px solid black;
width: 94%;
height: 20%; 
text-align: center;
margin: 2%;
}

.commentsBox {

text-align: justify;
padding: 1% 1% 1% 1%;
background-color: lemonchiffon;
}

.modal {
    display: flex-column;
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: aliceblue;
    visibility: hidden;
    text-align: justify;
    padding-left: 2%;

    font-family: Arial;
    font-size: 1em;
    line-height: 30px;
    font-weight: bold;
    color: black;
    padding: 40px;
    box-shadow: 0 0 0 10px #009688;
    border: 10px solid #009688;
    outline: dashed 10px white;
}

.modalHeader{
text-align: center;
font: bolder;
color: darkgreen;
text-shadow: 1px blue;

}

.closeButton{
display: flex;
margin: auto;
background-color: #009688;
    
}

.modal-content{
display: flex;


}

.modalImage{
display: flex-;
/* justify-content: space-around; */
height: 25px;
width: 100px;
padding-right: 1%;

}

.specsheetModal {
    position: absolute;
    left: 20%;
    right: 20%;
    background-color: aliceblue;
    visibility: hidden;
    text-align: center;
    border: solid 2px darkslategrey;
}

.product-filter {
    display: flex;
  }

  .product-filter h1 {
    flex-grow: 1;
  }
  .sort {
    display: flex;
  }

  .collection-sort {
    display: flex;
    flex-direction: column;
  }

  .product-image{
    height: 50px;
    width: 150px;

  } 

